<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre de forma gratuita!</title>

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../../public/css/main.css">
    <link rel="stylesheet" href="../../public/css/page-login.css">
    <link rel="stylesheet" href="../../public/css/page-create-login.css">

</head>
<body>

    <div id="page-login">


        <div class="row">
            <div class="column">
                <h2>Cadastre-se!</h2>
                <form>

                    <div class="input-block">
                        <input type="text" placeholder="Seu usuário">
                    </div>

                    <div class="input-block">
                        <input type="text" placeholder="Seu email">
                    </div>

                    <div class="input-block">
                        <input type="text" placeholder="Insira o link da sua foto!">
                    </div>
                    
                    <div class="input-block">
                        <input type="password" placeholder="Sua senha">
                    </div>

                    <div class="input-block">
                        <input type="password" placeholder="Repita a sua senha">
                    </div>


                    <div class="input-block">
                        <input formaction="../views/main.html" class="btn-grad" type="submit" value="Criar conta!">
                    </div>

                </form>
            </div>

            <div class="column image">

            </div>
        </div>

    </div><!--page-login-->

</body>
</html>